.hydro-raindrop-mfa h1 {
    margin: 0 0 15px 0;
}

.hydro-raindrop-mfa .message-digits {
    text-align: center;
    margin: 10px 0;
    padding: 15px 15px 10px 15px;
    background-color: #fbfbfb;
    height: 32px;
    display: block;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    outline: 0;
    transition: 50ms border-color ease-in-out;
}

.hydro-raindrop-mfa .message-digits .digit {
    font-family: "Courier New", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #0971f5;
    margin: 0 5px;
    line-height: 100%;
}

.hydro-raindrop-setup input[type=text] {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    height: 48px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px 15px 5px 20px;
    margin: 10px 0;
    background-color: #fbfbfb;
    font-family: "Courier New", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #0971f5;
    letter-spacing: 13px;
    width: 100%;
}

.hydro-raindrop-mfa .hydro-illustration {
    text-align: center;
}

.hydro-raindrop-mfa .hydro-illustration img {
    margin: 10px 0;
}

.hydro-raindrop-mfa .button-cancel {
    float: left;
    display: inline-block;
}

.hydro-raindrop-flash {
    padding: 12px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    border-left: 4px solid white;
    margin-bottom: 20px;
}

.hydro-raindrop-flash.error {
    border-left: 3px solid #dc3232;
}

.hydro-raindrop-flash.info {
    border-left: 3px solid #00a0d2;
}

.hydro-raindrop-flash.success {
    border-left: 3px solid #46b450;
}

.hydro-raindrop-flash.warning {
    border-left: 3px solid #ffb900;
}

/**** Custom Hydro Pages ****/

.hydro-raindrop-container {
    display: block;
    max-width: 480px;
    min-width: 320px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}

.hydro-raindrop-container form {
    display: block;
}

.hydro-raindrop-header {
    display: flex;
    flex-wrap: wrap;
}

.hydro-raindrop-header .logo {
    flex-basis: 100%;
    padding: 15px 10px;
}

.hydro-raindrop-header .logo img {
    display: block;
    max-height: 50px;
    margin: 0 auto;
    border-radius: 4px;
}

.hydro-raindrop-header h1 {
    width: 100%;
    background: #eee;
    padding: 8px 15px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.hydro-raindrop-body {
    display: block;
    flex-wrap: wrap;
    background: #fafafa;
}

.hydro-raindrop-body .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 10px;
}

.hydro-raindrop-body .item.side {
    flex-shrink: 1;
    flex-direction: row;
}

.hydro-raindrop-body .item .hydro-raindrop-mfa-illustration {
    width: 140px;
    margin-bottom: 10px;
}

.hydro-raindrop-body .notice {
    background: #fff;
    color: #666;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin: 20px 20px 0 20px !important;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 500;
    width: 80%;
}

.hydro-raindrop-body .notice h3:before {
    content: "ⓘ";
    line-height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    color: #fff;
    background: #007bff;
}

.hydro-raindrop-body .notice h3 {
    background: #fff;
    line-height: 44px;
    margin: 0;
    padding-left: 50px;
    font-weight: 400;
    font-size: 17px;
    color: #aaa;
    border-bottom: 1px solid #ddd;
}

.hydro-raindrop-body .notice span:before {
    content: "- ";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    color: #aaa;
}

.hydro-raindrop-body .notice span {
    position: relative;
    padding: 0 5px;
    line-height: 18px;
    font-weight: 500;
    color: #000;
    box-sizing: content-box;
}

.hydro-raindrop-body .notice span:first-child {
    padding-top: 20px;
}

.hydro-raindrop-body .item.actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    justify-content: space-between;
    background: #fafafa;
}

.hydro-raindrop-body .item.actions input {
    background: transparent;
    border: 0px;
    font-size: 13px;
    width: auto;
    height: auto;
    text-decoration: underline;
}

.hydro-raindrop-body .item.actions input:hover,
.hydro-raindrop-body .item.actions input:focus {
    color: #0671f3;
}

.hydro-raindrop-body .item:last-child {
    border-bottom: 0;
}

.hydro-raindrop-body .item label {
    font-size: 13px;
    font-weight: 500;
}

.hydro-raindrop-body .item input {
    display: block;
    padding: 10px;
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.hydro-raindrop-body .item input[type=text] {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 20px;
    font-weight: 500;
    color: #0671f3;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    outline: none;
}

.hydro-raindrop-body .item * {
    margin: 5px;
}

.hydro-raindrop-footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px #ddd solid;
    padding-top: 15px;
    margin: 0 auto;
}

.hydro-raindrop-footer .hydro-raindrop-submission {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    margin: 0 auto;
}

.hydro-raindrop-body .hydro-raindrop-digits {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 20px;
    font-weight: 500;
    color: #0671f3;
}

.hydro-raindrop-footer .hydro-raindrop-submission input.primary {
    background-color: #007bff;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(23, 43, 99, .24) 0 7px 28px;
    padding: 12px 23px;
    text-shadow: 1px 1px rgba(0, 0, 0, .09);
}

.hydro-raindrop-footer .hydro-raindrop-submission input.primary:hover,
.hydro-raindrop-footer .hydro-raindrop-submission input.primary:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: rgba(23, 43, 99, .3) 0 8px 35px;
    background-color: #0069d9;
    border-color: #0062cc;
}

.hydro-raindrop-footer .hydro-raindrop-powered-by {
    padding-top: 10px;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    align-self: flex-center;
    font-size: 10px;
    justify-content: flex-end;
    margin: auto;
}

.hydro-raindrop-footer .hydro-raindrop-powered-by a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none !important;
}

.hydro-raindrop-footer .hydro-raindrop-powered-by a label {
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    color: #333;
}

.hydro-raindrop-footer .hydro-raindrop-powered-by a img {
    max-width: 50px;
    border: none;
}
