.hydro-raindrop-settings .dashicons-yes {
    color: #46b450;
    margin-top: 2px
}

.hydro-raindrop-settings .dashicons-no {
    color: red;
    margin-top: 2px
}

.hydro-raindrop-settings .options-are-invalid input[type=text] {
    border-color: red !important;
    color: red !important;
}

.hydro-raindrop-settings label span {
    display: inline-block;
    min-width: 8em;
}
