.hydro-notice {
    background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 15px 0 2px;
    padding: 1px 12px;
}

.hydro td input#hydro_id {
    border: 1px solid #0971f5;
    padding: 10px 15px 5px 20px;
    background-color: white;
    font-family: "Courier New", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #0971f5;
    letter-spacing: 13px;
    width: 250px;
}

.hydro td .message-digits {
    border: 1px solid #0971f5;
    padding: 15px 15px 10px 15px;
    background-color: white;
    height: 32px;
    margin-right: 10px;
    display: inline;
}

.hydro td .digit {
    font-family: "Courier New", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #0971f5;
    margin: 0 5px;
}

p.success-message {
    color: #46b450;
    font-weight: 600;
}

.hydro-raindrop-settings .dashicons-yes {
    color: #46b450;
    margin-top: 2px
}

.hydro-raindrop-settings .dashicons-no {
    color: red;
    margin-top: 2px
}

.hydro-raindrop-settings .options-are-invalid input[type=text] {
    border-color: red !important;
    color: red !important;
}
